@model eCommerce.Models.Product
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-8 product-details">
        <h2>@Model.Name</h2>
        <p>
            @Model.Description
        </p>
        <p>
            MSRP: <s>@Model.MSRP.ToString("C")</s>
            <br/>
            Our Price: <span class="price">@Model.UnitPrice.ToString("C")</span>
            @if (Model.UnitPrice < Model.MSRP)
            {
                <div>You save <span class="price">@Math.Round(Model.UnitPrice/Model.MSRP * 100, 2)%!</span></div>
            }
        </p>
    </div>
    <div class="col-md-4 product-images">
        <img class="img-rounded main-image" src="@Model.ProductImages.First().imageURL" />
        <div class="thumbnails text-center">
            @foreach (var item in Model.ProductImages)
            {
                <div class="thumbnail">
                    <img src="@item.imageURL" />
                </div>
            }
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("Index", "Products")" class="btn btn-default">Back to Products</a>
</div>

